<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
  <!-- jQuery import  -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/stlye.css">
  <meta charset="UTF-8">
  <title>회원가입 페이지</title>
  <script th:inline="javascript">
    function signup() {
      let data = {
        username: $('#nickname').val(),
        password: $('#password').val(),
        passwordCheck: $('#passwordCheck').val()
      };

      $.ajax({
        type: "POST",
        url: "/api/signup",
        contentType: "application/json",
        data: JSON.stringify(data),
        success: function (response) {
          console.log(response)
          alert(response);
          if(response === "회원가입을 축하합니다!") {
            window.location.assign('/user/login');
          }
        }
      })
    }
  </script>
</head>
<body>
<div id="login-form">
  <div id="login-title">Sign up Hanghae99</div>

<!--  <form action="/user/signup" method="post">-->
    <div class="login-id-label">닉네임</div>
    <input id="nickname" type="text" name="username" placeholder="Username" class="login-input-box">

    <div class="login-id-label">비밀번호</div>
    <input id="password" type="password" name="password" class="login-input-box">

    <div class="login-id-label">비밀번호 확인</div>
    <input id="passwordCheck" type="password" name="passwordCheck" placeholder="비밀번호 확인" class="login-input-box">

<!--    <div>-->
<!--      <input id="admin-check" type="checkbox" name="admin" onclick="onclickAdmin()" style="margin-top: 40px;">관리자-->
<!--      <input id="admin-token" type="password" name="adminToken" placeholder="관리자 암호" class="login-input-box" style="display:none">-->
<!--    </div>-->
    <button id="login-id-submit" onclick="signup()">회원 가입</button>
<!--  </form>-->
</div>
</body>
</html>